@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Marvin Visions Small Variable';
  font-display: block;
  src: url('../public/fonts/MarvinVisionsSmall-Variable.woff2') format('woff2'),
    url('../public/fonts/MarvinVisionsSmall-Variable.woff') format('woff'),
    url('../public/fonts/MarvinVisionsSmall-Variable.ttf') format('truetype');
  font-weight: 20 170;
}

