@font-face {
  font-family: 'Marvin Visions Small Variable';
  font-display: swap;
  src: url('./fonts/MarvinVisionsSmall-Variable.woff2') format('woff2'),
    url('./fonts/MarvinVisionsSmall-Variable.woff') format('woff'),
    url('./fonts/MarvinVisionsSmall-Variable.ttf') format('truetype');
  font-weight: 20 170;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Marvin Visions Small Variable';
  padding: 0 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  transition: background 0.2s ease, color 0.2s ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}

h1 {
  font-size: 8vw;
  font-weight: 140;
  font-variation-settings: 'opsz' 100;
}

h2 {
  font-size: 5vw;
  font-weight: 140;
  font-variation-settings: 'opsz' 80;
}

h3 {
  font-size: 4vw;
  font-weight: 120;
  font-variation-settings: 'opsz' 80;
}

p,
ul {
  font-size: 3.5vw;
  font-weight: 80;
  font-variation-settings: 'opsz' 30;
}

.nested-ul {
  font-size: 3vw;
}

.main {
  flex: 1 0 auto;
}

.dark-mode {
  position: absolute;
  right: 1rem;
  top: 1rem;

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: #666666;
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #666666;
      }

      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #666666;
      transition: 0.4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        border-radius: 50%;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }
  }
}

.contact {
  margin-top: 2rem;

  > .title {
    border-bottom: solid black 4px;
    transition: border-bottom 0.2s ease;
  }

  .location {
    display: block;
  }

  a,
  .location {
    color: inherit;
    text-decoration: none;
    font-size: 3.5vw;
    font-weight: 100;
    font-variation-settings: 'opsz' 30;
  }

  & > .socials {
    display: flex;
    align-items: center;

    a {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        display: block;
        right: 0;
        background: black;
        transition: width 0.2s ease;
      }

      &:hover:after {
        width: 100%;
        left: 0;
        background: black;
      }
    }
  }

  .bull {
    padding: 0 0.5rem;
  }
}

.education {
  > h3 {
    margin-bottom: 0.5rem;
  }

  > ul {
    margin-top: 0;
  }
}

.footer {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-size: 2.5vw;
  font-weight: 140;
  font-variation-settings: 'opsz' 80;
}
